@import './base.css';
@import 'tailwindcss';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    text-shadow: 0px 0px 10px white;
  }
}

h1 {
  font-weight: 600;
  font-size: 1.5rem;
}

p {
  font-weight: 300;
  font-size: 1rem;
}

.colored-number {
  color: var(--color-gold-300);
}

.aero-damage {
  color: var(--aero);
  font-weight: 500;
}

.electro-damage {
  color: var(--electro);
  font-weight: 500;
}

.fusion-damage {
  color: var(--fusion);
  font-weight: 500;
}

.glacio-damage {
  color: var(--glacio);
  font-weight: 500;
}

.spectro-damage {
  color: var(--spectro);
  font-weight: 500;
}

.havoc-damage {
  color: var(--havoc);
  font-weight: 500;
}

.physical-damage {
  font-weight: 500;
}

.text-five-star {
  color: var(--five-star);
}

.text-four-star {
  color: var(--four-star);
}

.text-three-star {
  color: var(--three-star);
}

.text-two-star {
  color: var(--two-star);
}

.text-one-star {
  color: var(--one-star);
}
